In [23]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
import numpy as np

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Balakhta,RU,2022-06-17 20:39:03,55.3800,91.6000,51.80,85,31,3.27
1,1,Busselton,AU,2022-06-17 20:39:04,-33.6500,115.3333,55.81,70,100,23.02
2,2,Albany,US,2022-06-17 20:38:22,42.6001,-73.9662,81.41,45,27,13.71
3,3,Chuy,UY,2022-06-17 20:39:04,-33.6971,-53.4616,52.72,55,58,15.30
4,4,Rantepao,ID,2022-06-17 20:39:05,-2.9701,119.8978,64.63,97,42,2.10

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Create heatmap for Maximum Temperature

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Albany,US,2022-06-17 20:38:22,42.6001,-73.9662,81.41,45,27,13.71
5,5,Kapaa,US,2022-06-17 20:39:05,22.0752,-159.3190,81.12,78,20,13.80
8,8,Palmer,US,2022-06-17 20:39:07,42.1584,-72.3287,87.40,46,20,19.57
17,17,Hilo,US,2022-06-17 20:39:11,19.7297,-155.0900,86.29,76,100,10.36
25,25,Puerto Ayora,EC,2022-06-17 20:39:15,-0.7393,-90.3518,78.76,90,60,5.99
27,27,Touros,BR,2022-06-17 20:39:15,-5.1989,-35.4608,76.44,74,32,10.02
28,28,Victoria,HK,2022-06-17 20:38:06,22.2855,114.1577,84.38,86,99,13.00
29,29,Cayenne,GF,2022-06-17 20:35:21,4.9333,-52.3333,83.08,19,0,0.00
30,30,Xiaolingwei,CN,2022-06-17 20:39:16,32.0333,118.8500,75.18,71,1,0.60
31,31,Jamestown,US,2022-06-17 20:39:16,42.0970,-79.2353,75.94,49,0,20.71

In [11]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Albany      US     81.41  42.6001  -73.9662
5          Kapaa      US     81.12  22.0752 -159.3190
8         Palmer      US     87.40  42.1584  -72.3287
17          Hilo      US     86.29  19.7297 -155.0900
25  Puerto Ayora      EC     78.76  -0.7393  -90.3518
27        Touros      BR     76.44  -5.1989  -35.4608
28      Victoria      HK     84.38  22.2855  114.1577
29       Cayenne      GF     83.08   4.9333  -52.3333
30   Xiaolingwei      CN     75.18  32.0333  118.8500
31     Jamestown      US     75.94  42.0970  -79.2353

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Adding the hotel names
for index,row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    #Use the search term "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
       
    #Make request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()
    
    print(params)
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found....skipping")

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '42.6001,-73.9662'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '22.0752,-159.319'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '42.1584,-72.3287'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '19.7297,-155.09'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-0.7393,-90.3518'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-5.1989,-35.4608'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '22.2855,114.1577'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '4.9333,-52.3333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '32.0333,118.85'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '42.097,-79.2353'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-21.2,-175.2'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-8.6199,122.2111'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-9.8,-139.0333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '20.9,70.3667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-20.7377,116.8463'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '18.4411,1.4078'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-7.2597,-34.9075'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '25.2919,60.643'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-2.0226,147.2712'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '10.9995,122.6711'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '28.419,30.7792'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '14.906,105.0784'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '3.0707,172.7902'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-21.6403,-41.0511'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-21.2078,-159.775'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '20.5022,-10.0711'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-15.3833,-62.95'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '1.3292,172.9752'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '35.465,-6.0348'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-22.9661,-42.0278'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-17.5333,-149.3333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-7.95,110.2833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '23.4632,116.768'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '17.8815,-76.4093'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-0.6,73.0833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-17.7333,-149.15'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '5.4112,100.3354'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '13.7667,109.2333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '2.0371,45.3438'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '31.61,34.7642'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '41.4339,-79.7064'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-5.795,-35.2094'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-2.9248,-39.9167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-5.8092,-61.3003'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '4.7717,33.5903'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-13.8745,-171.5986'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-6.8844,112.2051'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '8.2,-59.7833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '17.4924,44.1277'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '7.4167,81.8167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '37.2934,13.5264'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-1.195,-46.02'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-3.6667,152.4333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '10.5669,72.642'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '37.9748,-87.5558'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '12.6168,122.2475'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '37.9407,22.9573'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-16.5167,-151.75'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '45.3055,-93.7941'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '16.2333,-94.65'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '13.3154,12.6113'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '32.0728,64.8359'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '18.7333,-103.6833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-2.5744,150.7967'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-16.4833,-151.75'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '12.485,-16.5469'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '40.5833,17.6667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-2.0031,-49.8544'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '24.8,125.2833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '13.35,-15.75'}
Hotel not found....skipping

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '68.2191,-135.0107'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '35.3029,37.1841'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '7.7669,-72.225'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '4.1363,96.1285'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '48.9167,2.3333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '43.5945,-83.8889'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '21.3469,-158.0858'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '4.423,-7.3528'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '8.1222,-63.5497'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '7.7102,81.6924'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '17.6667,-100.0'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '20.3433,-77.1167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '26.6208,-78.2833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '15.435,119.9045'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '38.4167,77.2406'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '20.3467,-74.4958'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-8.3791,-74.5539'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '32.1272,115.0394'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '8.4054,48.4845'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '41.3712,-73.414'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '22.4437,-79.7253'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-8.145,159.5921'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '5.3505,48.5268'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '16.8634,-99.8901'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '16.6362,1.637'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '20.8947,-156.47'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-3.8004,102.2655'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '47.766,-116.7866'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-20.2333,164.0167'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '11.2333,79.8333'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '39.3742,49.2472'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-9.1667,-60.6333'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-10.6167,150.6667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '18.8167,95.2167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '64.8378,-147.7164'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '26.1247,127.6694'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '6.6439,122.2736'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-9.4333,159.95'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '19.8,85.85'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '6.189,-67.4859'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '18.4333,79.15'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-6.2132,155.5367'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '42.5617,-2.356'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-6.9811,-34.8339'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '39.5138,-121.5564'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '11.5221,13.6856'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '13.2167,-59.5167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '25.0213,37.2685'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '29.0331,21.5482'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-19.0595,-169.9187'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '40.4272,71.7189'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '2.6708,72.8944'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '26.7693,31.5021'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '21.4447,-157.8378'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '22.2394,68.9678'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-0.8667,134.0833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '14.9167,120.55'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-12.1167,-73.0'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '10.3997,-75.5144'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '12.1791,125.5072'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '52.3501,-110.2683'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-11.3847,43.2844'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '21.4022,-157.7394'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '11.6667,92.75'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-4.45,26.6667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-8.112,115.0882'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '41.3888,2.159'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-10.1833,-40.9667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '14.35,121.0167'}

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '14.2,24.6667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '26.1842,127.7558'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-2.4431,-54.7083'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '37.4966,61.9714'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-20.3297,-40.2925'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '11.2833,-15.8333'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '21.4833,109.1'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '16.2923,119.8062'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '24.0934,32.907'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '38.421,-121.4238'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '44.4908,-103.8594'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '22.5667,59.5289'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '15.1333,-23.2167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '27.3833,75.9667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '36.6217,29.1164'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '28.0167,73.3'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-4.3878,-59.5939'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '5.9667,80.4167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '36.297,59.6062'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-6.3264,108.32'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '45.0205,-93.218'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-8.8978,-35.1478'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-7.4706,-34.8086'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-9.0763,143.2092'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-10.4544,161.9205'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '26.5412,-77.0636'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '37.6775,-113.0619'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '41.5284,-87.4237'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-17.5667,-149.8667'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '14.6937,-17.4441'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '42.8,93.45'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '10.6167,104.1833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '29.6036,52.5388'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '18.9667,-91.1833'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-2.9022,-40.8411'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-8.0089,-34.8553'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '21.1167,70.1167'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '11.7751,-72.4445'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '30.3333,10.85'}
Hotel not found....skipping
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '39.1672,8.5222'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '6.4965,2.6036'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '23.1742,112.2809'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '39.5108,54.3671'}
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyAoeEr60VdYED4bY_5Zn1sHFF7BmTk14TM', 'location': '-16.4419,-51.1178'}

In [15]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Albany,US,81.41,42.6001,-73.9662,
5,Kapaa,US,81.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Palmer,US,87.40,42.1584,-72.3287,Wedgewood Motel
17,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [18]:
# Import Collections
import collections.abc
# Adjust aliases to be done manually.
collections.Iterable = collections.abc.Iterable
collections.Mapping = collections.abc.Mapping
collections.MutableSet = collections.abc.MutableSet
collections.MutableMapping = collections.abc.MutableMapping

In [19]:
#Create the heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# #Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
#Create the heatmap of temperature for the vacation spots and marker for each city. Add infobox
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# #Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))